@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Roman'), local('Helvetica-Neue-Roman'),
        url('../../fonts/roman/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../../fonts/roman/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../../fonts/roman/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue Bold';
    src: local('Helvetica Neue Bold'), local('Helvetica-Neue-Bold'),
        url('../../fonts/bold/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../../fonts/bold/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('../../fonts/bold/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@import "../../../source/SCSS/style/_nullstyle.scss";
@import "../../../source/SCSS/style/_header.scss";
@import "../../../source/SCSS/style/_menuburger.scss";
@import "../../../source/SCSS/style/_footer.scss";

/*------buttons----------------------------------*/
.green {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: calc(21/16*100%);
    background: #8DD83D;
    border-radius: 4px;
    padding: 5px 10px;
    color: #fff;
    justify-content: center;
    transition: all, 0.3s linear 0;
    &:hover {
        background: #7cc034;
        box-shadow: 0 5px 10px #464849;
        font-size: 18px;
    }
}
.gray {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: calc(21/16*100%);
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    border-radius: 4px;
    padding: 5px 10px;
    color: #fff;
    justify-content: center;
    transition: all, 0.3s linear 0;
    &:hover {
        background: #373A3C;
        box-shadow: 0 5px 10px #464849;
        font-size: 18px;
    }
}

/*------main-block----------------------------*/
.page {

	&__main-block {
	}
}

.main-block {
    position: relative;
	color: #fff;
	
	&__container {
		padding-top: 109px;
		padding-bottom: 204px;
        display: flex;
        justify-content: flex-end;
	}

	&__body {
        min-width: 400px;
		min-height: 237px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__text {
	}

	&__title {
		font-size: 36px;
		line-height: calc(42/36*100%);
	}

	&__released {
		font-size: 14px;
		line-height: calc(16/14*100%);
	}

	&__buttons {
        &:not(:first-child) {
            margin-top: 20px;
        }
	}

	&__left-btn {
		padding: 5px 29px;
		min-height: 38px;
		&:not(:last-child) {
			margin-right: 13px;
		}
	}

	&__right-btn {
		padding: 5px 25px;
		min-height: 38px;
	}

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: #777777;
        & img {
            opacity: 0.35;
        }
    }
}

@media (max-width: 900px){
    .main-block {
        &__container {
            padding-top: 60px;
            padding-bottom: 110px;
            
        }
        &__body {
            min-width: 100%;
            min-height: 160px;
            align-items: center;
        }
        &__text {
            width: 100%;
            text-align: center;
        }
    }
}
@media (max-width: 425px){
    .main-block {
        &__container {
            padding-top: 40px;
            padding-bottom: 50px;
            
        }
        &__body {
            min-width: 100%;
            min-height: 100px;
            align-items: center;
        }
        &__title {
            font-size: 28px;
        }
    
        &__released {
            font-size: 14px;
        }
        &__buttons {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &__left-btn {
            flex: 0 1 100%;
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    
        &__right-btn {
            flex: 0 1 100%;
        }
    }
}

/*--------------------------------------------*/
.page {

    &__video-game {
    }
}
.video-game {

    &__container {
        padding: 99px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 36px;
        line-height: calc(42/36*100%);
        color: #435766;
        &:not(:last-child) {
            margin-bottom: 150px;
        }
    }

    &__buttons {
        &:not(:last-child) {
            margin-bottom: 100px;
        }
    }

    &__left-btn {
        padding: 5px 41px;
        min-height: 52px;
        &:not(:last-child) {
            margin-right: 14px;
        }
    }

    &__right-btn {
        padding: 5px 20px;
        min-height: 52px;
    }

    &__video {
        width: 890px;
        height: 562px;
        border-radius: 11px;
        &>iframe {
            border-radius: 11px;
            width: 100%;
            height: 100%;
        }
    }

    &__prevue {
    }

    &__prevue-arrow {
    }
}
@media (max-width: 940px){
    .video-game {
        &__container {
            padding: 50px 15px;
        }
        &__video {
            width: 100%;
            height: 63.15vw;
        }
        &__title {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        &__buttons {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}
@media (max-width: 425px){
    .video-game {
        &__title {
            font-size: 28px;
        }
        &__buttons {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &__left-btn {
            flex: 0 1 100%;
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    
        &__right-btn {
            flex: 0 1 100%;
        }
    }
}

/*---------------------------------------*/
.page {

    &__about-game {
    }
}
.about-game {

    &__container {
    }

    &__about {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: 100px;
        }

        &_right {
            flex-flow: row-reverse;
            justify-content: flex-end;
            & > .about-game__text {
                margin-left: 69px;
            }
        }
    }

    &__text {
        max-width: 414px;
        font-size: 36px;
        line-height: calc(42/36*100%);
        color: #435766;
        margin-top: 20px;
    }

    &__img {
        width: 50%;
        height: 100%;
        & > img {
            width: 100%;
            height: 100%;
        }
    }
}
@media (max-width: 828px){
    .about-game {
        &__about {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            &:not(:last-child) {
                margin-bottom: 50px;
            }

            &_right {
                flex-direction: column-reverse;
                & > .about-game__text {
                    margin-left: 0;
                }
            }
        }
        &__text {
            max-width: 100%;
            font-size: 28px;
        }
        &__img {
            width: 100%;
            height: 100%;
            & > img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

/*--------------------------------------------*/
.page {

    &__specifications {
    }
}
.specifications {

    &__container {
    }

    &__body {
        padding: 105px 0 109px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 36px;
        line-height: calc(42/36*100%);
        color: #435766;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: 47px;
        }
    }

    &__text-body {
        &:not(:last-child) {
            margin-bottom: 80px;
        }
    }

    &__text-list {
        display: flex;
        flex-wrap: wrap;
        margin: -20px -30px;
    }

    &__text-item {
        flex: 1 1 33.33%;
        padding: 20px 30px;
        font-size: 21px;
        line-height: calc(24/21*100%);
        color: #435766;
    }

    &__buttons {
    }

    &__left-btn {
        min-height: 52px;
        padding: 5px 53px;
        &:not(:last-child) {
            margin: 0 16px 0 0;
        }
    }

    &__right-btn {
        min-height: 52px;
        padding: 5px 18px;
    }
}
@media (max-width: 900px){
    .specifications {
        &__text-list {
            margin: -20px;
        }
        &__text-item {
            flex: 1 1 50%;
            padding: 20px;
        }
    }
}
@media (max-width: 556px){
    .specifications {
        &__body {
            padding: 60px 0 30px;
        }
        &__text-body {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        &__text-list {
            margin: -20px;
        }
        &__text-item {
            flex: 1 1 100%;
            padding: 20px;
        }
        &__buttons {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &__left-btn {
            flex: 0 1 100%;
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    
        &__right-btn {
            flex: 0 1 100%;
        }
    }
}
@media (max-width: 425px){
    .specifications {
        &__title {
            font-size: 28px;
        }
        
        &__text-body {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }
}